<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block baseblock %}
    <div class="contact" id="contact">
        <h2 class="heading">File Upload</h2>
        <form method="post" action="/form/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-box">
                <div class="input-field">
                    <input type="text" id="first_name" name="first_name" placeholder="First Name" required> 
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" id="last_name" name="last_name" placeholder="Last Name" required> 
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Email" id="email" name="email" required> 
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="phone" name="phone_no" id="phone_no" placeholder="Number" required> 
                    <span class="focus"></span>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="text" name="file_detail" id="file_detail" placeholder="File Detail" required> 
                    <span class="focus"></span>
                </div>
   
            </div>
            <div class="upload-container">
                <label for="fileInput">Select a file:</label>
                <input type="file" id="fileInput" name="fileInput" accept=".csv, .xlsx">
                <label for="fileInput" class="custom-file-input">Choose File</label>
                <span id="selectedFile">No file chosen</span>
            </div>
            <div class="btn-box btn">
                <button type="submit" value="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
    <script>
        document.getElementById("fileInput").addEventListener("change", function () {
            var fileName = this.value.split("\\").pop();
            document.getElementById("selectedFile").innerHTML = fileName || "No file chosen";
        });
    </script>
    {% endblock %}
</body>
</html>