<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block baseblock %}
    {% if user.is_authenticated %}
    <div class="contact" id="contact">
        <h2 class="heading">File Upload</h2>
        <form method="post" action="/form/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-box">
                <div class="input-field">
                    <input type="text" id="full_name" name="full_name" placeholder="Full Name" required> 
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Email" id="email" name="email" required> 
                    <span class="focus"></span>
                </div>
            </div>
            <div class="upload-container">
                <label for="fileInput">Select a file:</label>
                <input type="file" id="fileInput" name="fileInput" accept=".csv, .xlsx">
                <label for="fileInput" class="custom-file-input">Choose File</label>
                <span id="selectedFile">No file chosen</span>
            </div>
            <div class="btn-box btn">
                <button type="submit" value="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
    <script>
        document.getElementById("fileInput").addEventListener("change", function () {
            var fileName = this.value.split("\\").pop();
            document.getElementById("selectedFile").innerHTML = fileName || "No file chosen";
        });
    </script>
    {% else %}
        <div class="alert alert-warning" role="alert">
            LogIn first.
        </div>
    {% endif %}
    {% endblock %}
</body>
</html>